<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {{ "/css/main.css" | prepend: site.baseurl }}
    <script src="{{"/vendor/js/jquery.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{"/vendor/js/bootstrap.min.js" | prepend:site.baseurl}}"></script>
    <script src="{{"/vendor/js/angular.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{"/vendor/js/app.js" | prepend: site.baseurl}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.5/js/jquery.tablesorter.js"></script>
    <script>
    $(document).ready(function(){
      $("#table").tablesorter();
    })
    </script>
  </body>

</html>
